# Node.js (Vite React)
node_modules/
dist/
.env
.vite/

# Python (Flask)
env/
__pycache__/
*.pyc
.env
migrations/
instance/

# Archivos de configuración de sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de configuración de editor
.vscode/
.idea/

# Otros archivos temporales
*.swp
*.swo

# docker-compose.yml
# docker-compose.override.yml

